ipykernel==6.26.0
jupyter==1.0.0
jupyter_client==8.6.0
jupyter-console==6.6.3
jupyter_core==5.5.0
jupyter-events==0.6.3
jupyter-server==1.23.4
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyter-ydoc==0.2.4
jupyterlab==3.6.3
jupyterlab-pygments==0.1.2
jupyterlab_server==2.22.0
jupyterlab-widgets==3.0.5
openpyxl==3.0.10
Python==3.11.5
pandas==2.0.3
pandocfilters==1.5.0
streamlit==1.29.0
streamlit-embedcode==0.1.2
streamlit-faker==0.0.3
